/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables CSS */
:root {
  --primary-color: #d64123;
  --secondary-color: #333;
  --background-color: #fff;
  --text-color: #2c2c2c;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
}