/* Portada */
.portada {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-image: url("/images/back.png");*/
  background-image: url("https://dannjpz.github.io/MenuCafeteria/images/back.png") !important;
  background-size: cover;  /* Para que la imagen cubra todo el contenedor */
  background-position: center;  /* Centra la imagen */
  background-repeat: no-repeat;  /* Evita que la imagen se repita */
  z-index: 1;
}

.portada.hidden {
  display: none;
}

.logo-portada {
  width: 200px;
}

/* Media queries adicionales */
@media (max-width: 480px) {
  .logo-portada {
    width: clamp(120px, 40vw, 150px);
  }

  .form-group {
    margin-bottom: 0.8rem;
  }
}
