<header class="header">
  <nav class="nav-container">
    <div class="logo">Tu Restaurante</div>
    <ul class="nav-menu">
      <li><a href="#inicio">Inicio</a></li>
      <li><a href="#menu">Menú</a></li>
      <li><a href="#reservas">Reservas</a></li>
      <li><a href="#contacto">Contacto</a></li>
      <li><a href="#ubicacion">ubicacion</a></li>
      <li><a href="#membresia">membresia</a></li>
      <li><a href="#galeria">gallery</a></li>
      <li><a href="#testimonios">testimonials</a></li>
      <li><a href="#inicio-sesion">inicio-sesion</a></li>
    </ul>
  </nav>
</header>
